body {
  margin:0px;
}
/* blue header section */
.blue-header {
  /*height:50px;*/
  background-color:rgb(60,90,127);
}
/* User Menu */
.blue-header h2 {
  display:none;
}
.blue-header ul {
  list-style-type:none !important;
  margin:0;
  padding:0;
  padding-top:12px;
  padding-right:30px;
  float:right;
}
.blue-header li {
  display:inline;
}
.smile-user-menu {
  width:960px;
  margin-left:auto;
  margin-right:auto;
}
.smile-user-menu .menu a:link {color:rgb(212, 230, 255); text-decoration: none;}      
.smile-user-menu .menu a:visited {color:#FFF; text-decoration: none;}  
.smile-user-menu .menu a:hover {color:white; text-decoration: underline;}  
.smile-user-menu .menu a:active {color:#FFF; text-decoration: none;}  
 
/* header section */
.smile-header {
  width:960px;
  height:100px;
  margin-left:auto;
  margin-right:auto;
}
/* Logo */
.logo-div {
  float:left;
}
/* Main Menu */
.smile-main-menu {
  float:right;
}
.smile-main-menu h2 {
  display:none;
}
.smile-main-menu ul {
  list-style-type:none !important;
  margin:0;
  padding:0;
  padding-top:40px;
  padding-right:30px;
}
.smile-main-menu li {
  display:inline;
}
.smile-main-menu .menu a:link {color:rgb(212, 230, 255); text-decoration: none;}
.smile-main-menu .menu a:visited {color:rgb(212, 230, 255); text-decoration: none;}
.smile-main-menu .menu a:hover {color:white; text-decoration: underline;}
.smile-main-menu .menu a:active {color:#4d4d4d; text-decoration: none;}
 
/* main content */
.smile-content-container-div {
  width:960px;
  margin-left:auto;
  margin-right:auto;
}
/* breadcrumb */
#breadcrumb {
  margin-top:15px;
}
/* footer */
.smile-footer {
  width:960px;
  margin-left:auto;
  margin-right:auto;
  color:#4d4d4d;
  text-align:center;
}